body {
  background-image: url(http://www.desktopwallpapers.org.ua/pic/201110/1366x768/desktopwallpapers.org.ua-6272.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  display: inline;
  vertical-align: middle;
}
#logo_wrapper {
  text-align: center;
  padding-top: 20px;
}
.centered {
  text-align: center;
}
.p_wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 22%;
  padding-right: 22%;
  font-size: 20px;
}
.card {
  color: white;
  display: inline-block;
  padding: 8px;
  text-align: center;
  vertical-align: top;
  width: 340px;
  height: 170px;
  margin: 5px;
}
.blue {
  background-color: #000099;
}
.green {
  background-color: #009933;
}
.red {
  background-color: #cc0000;
}
.orange {
  background-color: #ff9900;
}
.medium-text {
  font-size: 25px;
  font-weight: bold;
}
.big-text {
  font-size: 55px;
  font-weight: bold;
}
.card-wrapper {
  text-align: center;
}
