<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>140 MD</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- optional bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- our styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='140mdwebpage.css') }}">
  </head>

  <body>
    <div id="logo_wrapper">
      <img src="{{ url_for('static', filename='logo.png') }}" style="height:90px; margin-right:10px;" />
      <h1>140 M.D.</h1>
    </div>

    <div class='p_wrapper'>
      <p>
        We have been stalking you, and we are...
        <div class="card-wrapper">
          <div class="card blue">
            <div style="width: 100%; height: 30%;">
              <span class="medium-text">{{stats.sleepCoefficient}}%</span> confident that you slept
            </div>
            <div style="width: 100%; height: 75%;">
              <span class="big-text">{{stats.hoursSlept}}</span><br/>
              hours last night
            </div>
          </div>

          <div class="card {% if stats.well_rested %}green{% else %}red{% endif %}">
            which is<br/>
            <span class="big-text">{{ stats.rest_percentage }}%</span><br/>
            {% if stats.well_rested %} more {% else %} less {% endif %}
            than other users of 140 M.D.
          </div>
        </div>

        <br/>
        We expect that you will
        <div class="card-wrapper">
          <div class="card orange" style="height: 115px;">
            wake up at<br/>
            <span class="big-text">{{stats.wakeUpTime_str}}</span><br/>
          </div>

          <div class="card blue" style="height: 115px;">
            go to bed at<br/>
            <span class="big-text">{{stats.bedTime_str}}</span><br/>
          </div>
        </div>
      
      </p>
    </div>

    <h3 class="centered">Probability of Tweet vs. Time of Day</h3>
    <div id="graph" align="center"></div>

    <div class='p_wrapper'>
      <p>
      Out of your <span class="medium-text">{{ stats.sentiment.num_tweets }}</span> most recent tweets...
      
      <div class="card-wrapper">
        <div class="card green" style="height: 145px;">
          <div class="big-text" style="display: inline-block; width: 150px;">
            {{ stats.sentiment.positive }}%
          </div>
          <div style="display: inline-block; width: 150px;">
            were<br/>positive
          </div>
          <div style="widht: 100%;">
            <span class="medium-text">{{ stats.sentiment.pos_relative_str }}%</span> than the average user
          </div>
        </div>

        <div class="card red" style="height: 145px;">
          <div class="big-text" style="display: inline-block; width: 150px;">
            {{ stats.sentiment.negative }}%
          </div>
          <div style="display: inline-block; width: 150px;">
            were<br/>negative
          </div>
          <div style="widht: 100%;">
            <span class="medium-text">{{ stats.sentiment.neg_relative_str }}%</span> than the average user
          </div>
        </div>
      </div>
      
      <br/>
      Is your sleep paying off?
      </p>
    </div>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- d3 -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- graph renderer -->
    <script src="{{ url_for('static', filename='graph.js') }}"></script>

    <script>
      $(function() {
        var tweet_statistics = {{ stats.probs }}; 
        var waketime = {{ stats.wakeUpTime }};
        var bedtime = {{ stats.bedTime }};
        render_graph(tweet_statistics, waketime, bedtime);
      });
    </script>
  </body>
</html>
